.movieCard {
  margin-top: 5px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  background-color: #9ca4cb;
  padding: 10px;
  display: flex;
}
.movieImg {
  max-width: 400px;
  height: 100%;
}
.movieDescr {
  padding: 10px;
}
.title {
  text-decoration: underline;
}
.movieGenres {
  text-decoration: underline;
}
.movieOverview {
  text-decoration: underline;
}
.additionalInformation {
  border-bottom: 2px solid;
  background-color: #9ca4cb;
  padding: 10px;
}

.body {
  background: #9ca4cb;
}

.closingbutton {
  text-decoration: none;
  display: block;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(19, 18, 18);
  box-shadow: 0 0 0 2px white;
  padding: 20px 0;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}
.closingbutton span {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 5;
}
.closingbutton:before,
.closing-button:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.closingbutton:before {
  transform: translateX(-100%);
  background: #413ad5;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.closingbutton:after {
  background: #413ad5;
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.16, 0.73, 0.58, 0.62) 0.3s;
}
.closingbutton:hover:before,
.closing-button:hover:after {
  transform: translateX(0);
}
